data "nutanix_subnets_v2" "overlay-external-subnet-nat"{
  filter = "isExternal eq true and name eq 'overlay-external-subnet-nat'"
}

data "nutanix_vpcs_v2" "transit-vpc" {
  filter = "name eq 'transit-vpc'"
}

resource "nutanix_subnet_v2" "overlay-external-subnet-nonat" {
  name              = "overlay-external-subnet-nonat"
  cluster_reference = data.nutanix_clusters.clusters.entities.0.metadata.uuid
  vpc_reference      = data.nutanix_vpcs_v2.transit-vpc.vpcs.0.ext_id
  subnet_type       = "OVERLAY"
  is_external       = true
  is_nat_enabled = false
  ip_config {

    ipv4 {
      ip_subnet {
        ip {
          value = "100.64.100.0"
        }
        prefix_length = 24
      }
      default_gateway_ip {
        value = "100.64.100.1"
      }
      pool_list {
        start_ip {
          value = "100.64.100.10"
        }
        end_ip {
          value = "100.64.100.99"
        }
      }
    }
  }
}

resource "nutanix_vpc_v2" "fns_prod_vpc" {
  # Core Configuration
  name        = "FNS-Prod-VPC"
  description = "Prod VPC for FNS Labs"
  vpc_type    = "REGULAR"
  external_subnets { 
    subnet_reference = nutanix_subnet_v2.overlay-external-subnet-nonat.ext_id
    external_ips {
      ipv4 {
        value         = cidrhost("100.64.100.0/24", 10)
        prefix_length = 32
        }
      } 
    }
    external_subnets {
      subnet_reference = data.nutanix_subnets_v2.overlay-external-subnet-nat.subnets.0.ext_id
    }
  }



data "nutanix_route_tables_v2" "fns_prod_vpc_route_table"{
  filter = "vpcReference eq '${nutanix_vpc_v2.fns_prod_vpc.ext_id}'"
}

resource "nutanix_routes_v2" "fns_prod_vpc_default_route" {
  name               = "fns_prod_vpc_default_route"
  vpc_reference      = nutanix_vpc_v2.fns_prod_vpc.ext_id
  route_table_ext_id = data.nutanix_route_tables_v2.fns_prod_vpc_route_table.route_tables.0.ext_id
  destination {
    ipv4 {
      ip {
        value = "0.0.0.0"
      }
      prefix_length = 0
    }
  }
  next_hop {
    next_hop_type      = "EXTERNAL_SUBNET"
    next_hop_reference = data.nutanix_subnets_v2.overlay-external-subnet-nat.subnets.0.ext_id
  }
  route_type = "STATIC"
}

resource "nutanix_routes_v2" "fns_prod_vpc_group_prod_route" {
  name               = "fns_prod_vpc_group_prod_route"
  vpc_reference      = nutanix_vpc_v2.fns_prod_vpc.ext_id
  route_table_ext_id = data.nutanix_route_tables_v2.fns_prod_vpc_route_table.route_tables.0.ext_id
  destination {
    ipv4 {
      ip {
        value = "{{ group_prod_subnet }}"
      }
      prefix_length = 24
    }
  }
  next_hop {
    next_hop_type      = "EXTERNAL_SUBNET"
    next_hop_reference = nutanix_subnet_v2.overlay-external-subnet-nonat.ext_id
  }
  route_type = "STATIC"
}

resource "nutanix_routes_v2" "fns_prod_vpc_group_dev_route" {
  name               = "fns_prod_vpc_group_dev_route"
  vpc_reference      = nutanix_vpc_v2.fns_prod_vpc.ext_id
  route_table_ext_id = data.nutanix_route_tables_v2.fns_prod_vpc_route_table.route_tables.0.ext_id
  destination {
    ipv4 {
      ip {
        value = "{{ group_dev_subnet }}"
      }
      prefix_length = 24
    }
  }
  next_hop {
    next_hop_type      = "EXTERNAL_SUBNET"
    next_hop_reference = nutanix_subnet_v2.overlay-external-subnet-nonat.ext_id
  }
  route_type = "STATIC"
}

resource "nutanix_vpc_v2" "fns_dev_vpc" {
  # Core Configuration
  name        = "FNS-Dev-VPC"
  description = "Dev VPC for FNS Labs"
  vpc_type    = "REGULAR"
  external_subnets {
    subnet_reference = nutanix_subnet_v2.overlay-external-subnet-nonat.ext_id
    external_ips {
      ipv4 {
        value         = cidrhost("100.64.100.0/24", 11)
        prefix_length = 32
        }
      } 
    }
    external_subnets{
      subnet_reference = data.nutanix_subnets_v2.overlay-external-subnet-nat.subnets.0.ext_id
    }
}

data "nutanix_route_tables_v2" "fns_dev_vpc_route_table"{
  filter = "vpcReference eq '${nutanix_vpc_v2.fns_dev_vpc.ext_id}'"
}

resource "nutanix_routes_v2" "fns_dev_vpc_default_route" {
  name               = "fns_dev_vpc_default_route"
  vpc_reference      = nutanix_vpc_v2.fns_dev_vpc.ext_id
  route_table_ext_id = data.nutanix_route_tables_v2.fns_dev_vpc_route_table.route_tables.0.ext_id
  destination {
    ipv4 {
      ip {
        value = "0.0.0.0"
      }
      prefix_length = 0
    }
  }
  next_hop {
    next_hop_type      = "EXTERNAL_SUBNET"
    next_hop_reference = data.nutanix_subnets_v2.overlay-external-subnet-nat.subnets.0.ext_id
  }
  route_type = "STATIC"
}

resource "nutanix_routes_v2" "fns_dev_vpc_group_prod_route" {
  name               = "fns_dev_vpc_group_prod_route"
  vpc_reference      = nutanix_vpc_v2.fns_dev_vpc.ext_id
  route_table_ext_id = data.nutanix_route_tables_v2.fns_dev_vpc_route_table.route_tables.0.ext_id
  destination {
    ipv4 {
      ip {
        value = "{{ group_prod_subnet }}"
      }
      prefix_length = 24
    }
  }
  next_hop {
    next_hop_type      = "EXTERNAL_SUBNET"
    next_hop_reference = nutanix_subnet_v2.overlay-external-subnet-nonat.ext_id
  }
  route_type = "STATIC"
}

resource "nutanix_routes_v2" "fns_dev_vpc_group_dev_route" {
  name               = "fns_dev_vpc_group_dev_route"
  vpc_reference      = nutanix_vpc_v2.fns_dev_vpc.ext_id
  route_table_ext_id = data.nutanix_route_tables_v2.fns_dev_vpc_route_table.route_tables.0.ext_id
  destination {
    ipv4 {
      ip {
        value = "{{ group_dev_subnet }}"
      }
      prefix_length = 24
    }
  }
  next_hop {
    next_hop_type      = "EXTERNAL_SUBNET"
    next_hop_reference = nutanix_subnet_v2.overlay-external-subnet-nonat.ext_id
  }
  route_type = "STATIC"
}

resource "nutanix_subnet_v2" "prod_vm_subnet" {
  name              = "FNS-Prod"
  subnet_type       = "OVERLAY"
  vpc_reference     = nutanix_vpc_v2.fns_prod_vpc.ext_id
  ip_config {
    ipv4 {
      ip_subnet {
        ip {
          value = "100.64.128.0"
        }
        prefix_length = 24
      }
      pool_list {
        start_ip {
          value = "100.64.128.100"
        }
        end_ip {
          value = "100.64.128.199" 
        }
      }
    }
  }
  dhcp_options {
    domain_name_servers {
      ipv4 {
        value = "8.8.8.8"
      }
    }
  }
  depends_on = [ nutanix_vpc_v2.fns_prod_vpc ]
}

resource "nutanix_subnet_v2" "dev_vm_subnet" {
  name              = "FNS-Dev"
  subnet_type       = "OVERLAY"
  vpc_reference     = nutanix_vpc_v2.fns_dev_vpc.ext_id
  ip_config {
    ipv4 {
      ip_subnet {
        ip {
          value = "100.65.128.0"
        }
        prefix_length = 24
      }
      pool_list {
        start_ip {
          value = "100.65.128.100"
        }
        end_ip {
          value = "100.65.128.199" 
        }
      }
    }
  }
  dhcp_options {
    domain_name_servers {
      ipv4 {
        value = "8.8.8.8"
      }
    }
  }
  depends_on = [ nutanix_vpc_v2.fns_dev_vpc ]
}