#cloud-config
password: {{ vm_password }}
chpasswd: { expire: False }
ssh_pwauth: True
apt_update: True
packages:
 - mariadb-server
 - mariadb-client
write_files:
 - content: |
    file_contents
   path: /tmp/50-server.cnf
   # /etc/mysql/mariadb.conf.d/50-server.cnf
runcmd: 
 - hostname {{ hostname }}
 - cp /tmp/50-server.cnf /etc/mysql/mariadb.conf.d/50-server.cnf
 
